@model LearningManagementSystem.Application.Abstractions.Services.StudentExam.StudentExamResponse[]

@{
ViewBag.Title = "Assign Points";
Layout = "_Layout";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" asp-action="AssignPoint" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @for (int i = 0; i < Model.Length; i++)
                {
                    <div class="row justify-content-between align-items-center">
                        <div class="form-group col-2">
                            <input readonly name="studentExams[@i].Student.Id" type="text" class="form-control" value="@Model[i].Student.Id" placeholder="Id">
                            <input hidden name="studentExams[@i].Exam.Id" type="text" class="form-control" value="@Model[i].Exam.Id" placeholder="Id">
                            <input hidden name="studentExams[@i].Id" type="text" class="form-control" value="@Model[i].Id" placeholder="Id">
                        </div>
                        <div class="form-group col-3">
                            <input readonly name="studentExams[@i].Student.Name" type="text" class="form-control" value="@Model[i].Student.Name" placeholder="Name">
                        </div>
                        <div class="form-group col-3">
                            <input readonly name="studentExams[@i].Student.Surname" type="text" class="form-control" value="@Model[i].Student.Surname" placeholder="Surname">
                        </div>
                        <div class="form-group col-3">
                            <label for="Point">Point</label>
                            <input name="studentExams[@i].Point" type="number" min="0" class="form-control" value="@Model[i].Point" placeholder="Point">
                            @*<span asp-validation-for="studentExams[@i].Point" class="text-danger"></span>*@
                        </div>
                        <div class="form-group col-3">
                            <label >File Upload</label>
                            <button type="button" class="btn btn-primary !important" data-bs-toggle="modal" data-bs-target="#uploadFile-@Model[i].Id">
                                <i class="fa-solid fa-file"></i>
                            </button>
                            @await Html.PartialAsync("_UploadFile",Model[i])
                        </div>
                        
                    </div>
                }

                <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                <button class="btn btn-light" asp-action="Index">Cancel</button>
            </form>
        </div>
    </div>
</div>
