@model System.Collections.Generic.IList<LearningManagementSystem.Application.Abstractions.Services.Subject.SubjectResponse>

@{
    ViewBag.Title = "Faculty List";
}
<a class="btn btn-primary" asp-action="Create">Create</a>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Max </th>
        <th>Exam Type</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.SubjectCode</td>
            <td>@item.AttendanceLimit</td>
            <td>
                <a class="btn btn-warning" asp-area="admin" asp-controller="Subjects" asp-action="Edit" asp-route-id="@item.Id">
                    <i class="far fa-pen-to-square"></i>
                </a>
            </td>
            <td>
                <!-- Button to open modal -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-@item.Id">
                    <i class="fas fa-trash-can"></i>
                </button>
                @await Html.PartialAsync("_Delete",item)
            </td>
        </tr>
    }
    </tbody>
</table>
<partial name="_Pagination"/>
