@model System.Collections.Generic.IList<LearningManagementSystem.Application.Abstractions.Services.Term.TermResponse>

@{
    ViewBag.Title = "title";
}
<link rel="stylesheet" href="~/css/togglebtn.css">
<a class="btn btn-primary" asp-action="Create" asp-controller="Terms">Create</a>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Term Season</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.TermSeason</td>
            <td>@item.StartDate</td>
            <td>@item.EndDate</td>
            @*<td><label class="badge badge-danger">Pending</label></td>*@
            <td>
                <a class="btn btn-warning" asp-area="admin" asp-controller="Terms" asp-action="Edit" asp-route-id="@item.Id">
                    <i class="far fa-pen-to-square"></i>
                </a>
            </td>
            <td>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-@item.Id">
                    <i class="fas fa-trash-can"></i>
                </button>
                @await Html.PartialAsync("_Delete", item)
            </td>
            <td>
                <!-- Button to open modal -->
                <button type="button" class="btn btn-primary details-btn" data-bs-toggle="modal" data-bs-target="#detailModal-@item.Id" data-lesson-id="@item.Id">
                    Details
                </button>
                @await Html.PartialAsync("_Details", item)
            </td>
            <td>
                <!-- Toggle Button for Active (Boolean) value -->


                <label class="switch">
                    <a asp-area="Admin" asp-controller="Terms" asp-action="ActivateTerm" asp-route-id="@item.Id">
                        <input type="checkbox" class="toggle-btn" @(item.IsActive ? "checked" : "") data-id="@item.Id"/>
                        <span class="slider round"></span>
                    </a>
                </label>
            </td>
        </tr>
    }
    </tbody>
</table>
<partial name="_Pagination"/>

@section Scripts {
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        const detailButtons = document.querySelectorAll('.details-btn');

        detailButtons.forEach(button => {
            button.addEventListener('click', function (e) {
                let lessonId = this.getAttribute('data-lesson-id'); // Use data-student-id instead of id
                const modalBody = document.querySelector(`#detailModal-${lessonId} .modal-body`);
                console.log(lessonId)
                // Show loading message while fetching data
                modalBody.innerHTML = `<p>Loading...</p>`;

                // Fetch student details from the server
                fetch(`/Admin/Terms/Details?id=${lessonId}`)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        // Update modal content with fetched student details
                        let content = ``;
                        if (data?.groups && data?.groups.length > 0) {
                            content += `<h5>Term's Groups :</h5><ul>`;
                            data?.groups?.forEach(group => {
                                          
                                content += `
                                         <li><strong>Name:</strong>${group?.name}</li>
                                         <li><strong>Code:</strong>${group?.code}</li>
                                        <li><strong>Credit:</strong>${group?.credit}</li>`
                            });
                            content += `</ul>`;
                        }
                         @*if (data?.surveys && data?.surveys.length > 0) {
                            content += `<h5>Term's Surveys :</h5><ul>`;
                            data?.groups?.forEach(group => {
                                           <li><strong>Name:</strong>${survey?.name}</li>
                                content += `<li><strong>Credit:</strong>${group?.credit}</li>
`
                            });
                            content += `</ul>`;
                        }*@
                        // Update modal body with the final content
                        modalBody.innerHTML = content;
                    })
                    .catch(error => {
                        console.error('Error fetching  details:', error);
                        modalBody.innerHTML = `<p>Error loading  details.</p>`;
                    });
            });
        });
    });
</script>
}