@model System.Collections.Generic.IList<LearningManagementSystem.Application.Abstractions.Services.StudentRetakeExam.StudentRetakeExamResponse>

@{
    ViewBag.Title = "Faculty List";
}
<a class="btn btn-primary" asp-action="Create">Create</a>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Student</th>
        <th>Student No</th>
        <th>RetakeExam type</th>
        <th>Status</th>
        <th>Deadline</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Student.Id</td>
            <td>@item.Student.Name @item.Student.Surname</td>
            <td>@item.Student.StudentNo</td>
            <td>@item.RetakeExam.RetakeExamType</td>
            <td>@item.RetakeExam.Deadline</td>
            <td>@item.RetakeExam.Price</td>
            <td>
                <a class="btn btn-warning" asp-area="admin" asp-controller="StudentRetakeExams" asp-action="Edit" asp-route-id="@item.Id">
                    <i class="far fa-pen-to-square"></i>
                </a>
            </td>
            <td>
                <!-- Button to open modal -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-@item.Id">
                    <i class="fas fa-trash-can"></i>
                </button>
                @await Html.PartialAsync("_Delete",item)
            </td>
        </tr>
    }
    </tbody>
</table>
<partial name="_Pagination"/>